POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ads_db

# Альтернативно:
# DATABASE_URL=postgresql://username:password@localhost:5432/ads_db

# Настройки безопасности
SECRET_KEY=your_random_secret_key_here  # Сгенерируйте сложную строку(https://jwtsecretkeygenerator.com/ru/)
ALGORITHM=HS256                         # Используемый алгоритм JWT
ACCESS_TOKEN_EXPIRE_MINUTES=2880        # Время жизни токена в минутах (2880 = 48 часов)